body {
	width: 100%;
	min-width: 100%;
	max-width: 100%;
}

body.menu-displayed {
	margin-left: 0;
}

#application-wrapper {
	float: right;
	width: 80%;
	min-width: 80%;
	max-width: 80%;
}

#menu {
	width: 20%;
	min-width: 20%;
	max-width: 20%;
	float: left;
}

#menu-toggle-button {
	display: none !important;
}