<div class="page hide">
	<div class="inner-content room">
		<h2><%= room.get('nom').toUpperCase() %></h2>
		<p><%= t('The are ${available} available spaces', {available: room.get('places')}) %></p>

		<br /><br /><br />

		<h3 class="subtitle"><%= t('Schedule') %></h3>
		<% if (_.isEmpty(room.get('timetable'))) { %>
			<p class="no-results"><%= t('There are no classes.') %></p>
		<% } else { %>
			<ul class="regular-list scheduling">
				<% _.each(room.get('timetable'), function(event) { %>
					<% if (moment().isAfter(moment(event.dtstart)) && moment().isBefore(moment(event.dtend))) { %>
						<li class="current">
					<% } else { %>
						<li>
					<% } %>
						<p class="fromto">De <%= moment(event.dtstart).format('HH:mm') %> a <%= moment(event.dtend).format('HH:mm') %></p>
						<p class="title"><%= event.summary %></p>
					</li>
				<% }) %>
			</ul>
		<% } %>
	</div>
</div>