<div class="page rooms">
	<% if (_.isEmpty(buildings)) { %>
		<p class="no-results centered">Aquesta informació no està disponible en aquests moments.</p>
	<% } else { %>
		<div class="inner-content">
			<% _.each(buildings, function(rooms, building) { %>
				<h2>Edifici <%= building.toUpperCase() %></h2>
				<img src="data:image/png;base64,<%= maps[building.toLowerCase()] %>" class="room-map" />

				<ul class="regular-list rooms">
					<% _.each(rooms, function(room) { %>
						<% if (!_.isEmpty(room.currentEvent())) { %>
							<li data-id="<%= room.get('nom') %>" class="clickable occupied">
						<% } else { %>
							<li data-id="<%= room.get('nom') %>" class="clickable">
						<% } %>
							<div class="pull-left">
								<p class="title"><%= room.get('nom').toUpperCase() %></p>
								<p class="currently">
									<% if (!_.isEmpty(room.currentEvent())) { %>
										<%= room.currentEvent().summary %>
									<% } else { %>
										No hi ha classe
									<% } %>
								</p>
							</div>
							<% if (room.get('places') == 0) { %>
								<p class="available-spaces full">0</p>
							<% } else if (room.get('places') <= 4) { %>
								<p class="available-spaces warning"><%= room.get('places') %></p>
							<% } else { %>
								<p class="available-spaces free"><%= room.get('places') %></p>
							<% } %>
						</li>
					<% }) %>
				</ul>
				<br /><br />
			<% }) %>
		</div>
	<% } %>
</div>