<% /* 
    (c)2014 Barcelona School of Informatics. All rights reserved.

    @author: Cristian Ortega;
    @publisher: inLabFIB;
*/ %>

<div class="page">
	<% if (_.isEmpty(latestNotes)) { %>
		<p class="no-results centered"><%= t('There are no notes.') %></p>
	<% } else { %>
		<ul id="latest-notes" class="regular-list notes">
			<% _.each(latestNotes, function(note){ %>
				<%
					var readStatus = '';
					if (!note.get('read')) {
						readStatus = ' unread';
					}
				%>
				<li data-id="<%= note.get('id') %>" class="clickable<%= readStatus %>">
					<p class="acronym"><%= note.get('subject') %></p>
					<p class="title"><%= note.get('title') %></p>
					<p class="timeago"><%= moment(note.get('pubDate')).fromNow() %></p>
					<% if (!_.isEmpty(note.get('attachments'))) { %>
						<p class="attachments"><%= _.size(note.get('attachments')) %> attachments</p>
					<% } %>
				</li>
			<% }); %>
		</ul>
	<% } %>
</div>