<% /* 
    (c)2014 Barcelona School of Informatics. All rights reserved.

    @author: Cristian Ortega;
    @publisher: inLabFIB;
*/ %>

<div class="header primary-color-background"></div>
<div id="personal-info">
	<div class="profile-picture">
		<img src="data:image/jpg;base64,<%= currentUser.get('image') %>" alt="" />
	</div>
	<div class="profile-card">
		<p class="name"><%= currentUser.get('nom') %></p>
		<p class="surname"><%= currentUser.get('cognoms') %></p>
	</div>
</div>
<ul id="tabs">
	<li class="clickable notes current">
        <a href="#!/latestNotes">
            <span><%= t('Latest notes') %></span>
        </a>
    </li>
	<li class="clickable subjects">
        <a href="#!/subjects">
            <span><%= t('Subjects') %></span>
        </a>
    </li>
	<li class="clickable timetable">
        <a href="#!/timetable">
            <span><%= t('Timetable') %></span>
        </a>
    </li>
	<li class="clickable rooms">
        <a href="#!/rooms">
            <span><%= t('Rooms') %></span>
        </a>
    </li>
	<li class="clickable news">
        <a href="#!/news">
            <span><%= t('News') %></span>
        </a>
    </li>
	<li class="clickable divider"></li>
	<li class="clickable settings">
        <a href="#!/settings">
            <span><%= t('Settings') %></span>
        </a>
    </li>
	<li class="clickable logout">
        <a href="#!/logout">
            <span><%= t('Sign out') %></span>
        </a>
    </li>
</ul>