<div class="header primary-color-background"></div>
<div id="personal-info">
	<div class="profile-picture">
		<img src="img/test/profile_picture.jpg" alt="" />
	</div>
	<div class="profile-card">
		<p class="name">CRISTIAN</p>
		<p class="surname">ORTEGA GÓMEZ</p>
		<p class="role">Student</p>
	</div>
</div>
<ul id="tabs">
	<li class="clickable notes"><a href="#latestNotes">Latest notes</a></li>
	<li class="clickable subjects"><a href="#subjects">Subjects</a></li>
	<li class="clickable timetable"><a href="#timetable">Timetable</a></li>
	<li class="clickable calendar"><a href="#calendar">Calendar</a></li>
	<li class="clickable divider"></li>
	<li class="clickable settings"><a href="#settings">Settings</a></li>
	<li class="clickable logout"><a href="#logout">Sign out</a></li>
</ul>