<div class="header primary-color-background"></div>
<div id="personal-info">
	<div class="profile-picture">
		<img src="img/test/profile_picture.jpg" alt="" />
	</div>
	<div class="profile-card">
		<p class="name">CRISTIAN</p>
		<p class="surname">ORTEGA GÓMEZ</p>
		<p class="role">Estudiant</p>
	</div>
</div>
<ul id="tabs">
	<li class="clickable notes"><a href="#!/latestNotes">Últims avisos</a></li>
	<li class="clickable subjects"><a href="#!/subjects">Assignatures</a></li>
	<li class="clickable timetable"><a href="#!/timetable">Horari</a></li>
	<li class="clickable rooms"><a href="#!/rooms">Aules</a></li>
	<li class="clickable news"><a href="#!/news">Notícies</a></li>
	<li class="clickable divider"></li>
	<li class="clickable settings"><a href="#!/settings">Configuració</a></li>
	<li class="clickable logout"><a href="#!/logout">Sortir</a></li>
</ul>