body.standalone:not(.login) #header {
	border-top: 1.5em solid #1483ce;
}

body.standalone.menu-displayed:not(.login) #header {
	border-top: 1.5em solid #333333;
	opacity: 1;
}

body {
	font: 17px/21px -apple-system-font;
	font-weight: 100;
}

body #header {
	box-shadow: none;
	opacity: 0.95;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 50;
	transition: left 0.5s ease;
}

body.menu-displayed #header {
	left: 79.5%;
}

body:not(.login) #content {
	margin-top: 3em;
}

body.standalone:not(.login) #content {
	margin-top: 4em;
}

body #header #page-title {
	font: 17px/21px -apple-system-font;
	font-weight: bold;
	line-height: 3em;
}

body #menu #personal-info .name,
body #menu #personal-info .surname {
	margin: 0.5em 0 0 0;
}

body #menu #personal-info .surname {
	margin: 0 0 0 0;
}

body #menu #personal-info .role {
	padding: 0.5em 0.25em 0.5em 0.25em;
	margin: 0.75em 0 0 0;
}

body #menu .profile-picture img {
	border-radius: 5em;
	box-shadow: none;
}

button {
	border-radius: 0;
	font-size: 1em;
}

.inner-content h2 {
	font: 42px/42px -apple-system-font !important;
	font-weight: 100 !important;
	text-transform: none !important;
}

.inner-content.note h2 {
	font: 28px/28px -apple-system-font !important;
	font-weight: 200 !important;
}

.regular-list li {
	font-weight: 100;
}

.regular-list {
	margin-left: 0;
}

.available-spaces {
	padding: 0.5em 0.4em;
}