body.ios.standalone #header {
	padding-top: 1em;
}

body.ios {
	font: 17px /21px -apple-system-font;
	font-weight: 100;
}

body.ios #header {
	box-shadow: none;
	opacity: 0.9;
}

body.ios #header #page-title {
	font: 17px/21px -apple-system-font;
	font-weight: bold;
	line-height: 3em;
}

body.ios #menu #personal-info .name,
body.ios #menu #personal-info .surname {
	margin: 0.5em 0 0 0;
}

body.ios #menu #personal-info .surname {
	margin: 0 0 0 0;
}

body.ios #menu #personal-info .role {
	padding: 0.5em 0.25em 0.5em 0.25em;
	margin: 0.75em 0 0 0;
}

button {
	border-radius: 0;
	font-size: 1em;
}