body {
	width: 100%;
	min-width: 100%;
	max-width: 100%;
}

body.menu-displayed {
	margin-left: 0;
}

#application-wrapper {
	float: right;
	width: 80%;
	min-width: 80%;
	max-width: 80%;
}

#menu {
	width: 20%;
	min-width: 20%;
	max-width: 20%;
	float: left;
}

#menu-toggle-button {
	display: none !important;
}

body.login #connect-button-box {
	width: 40%;
	margin: 0 auto;
	left: 30%;
	right: 30%;
	bottom: 20%;
}

body.login #connect-logo {
	padding-left: 30%;
}

.day-selector {
	display: none;
}

@media(min-width: 480px) and (max-width: 1100px) {
    #menu {
        max-width: 5em !important;
        width: 5em !important;
        max-width: 5em !important;
    }

    #menu li a span {
        display: none;
    }

    #menu li a {
        background-position: center center !important;
    }

    #menu #personal-info .name,
    #menu #personal-info .surname,
    #menu #personal-info .role {
        display: none;
    }

    #menu #personal-info .profile-picture {
        float: none !important;
        text-align: center;
    }

    #menu #personal-info .profile-picture img {
        width: 100%;
        max-width: 4em;
    }
}