/* 
	(c)2014 Barcelona School of Informatics. All rights reserved.

	@author: Cristian Ortega;
	@publisher: inLabFIB;
*/

body {
	min-width: 100%;
	width: 100%;
	overflow-x: hidden;
}

#app {
	width: 180%;
	min-width: 180%;
	max-width: 180%;
	margin-left: -80%;
}

body.menu-displayed #app {
	margin-left: 0;
}

#application-wrapper {
	float: right;
	width: 55.56%;
	min-width: 55.56%;
	max-width: 55.56%;
}

#menu {
	width: 44.44%;
	min-width: 44.44%;
	max-width: 44.44%;
	float: left;
}

#menu .header {
	display: none;
}

#menu #personal-info .profile-card {
	max-width: 49%;
}

.inner-content.timetable table td:not(.current),
.inner-content.timetable table th:not(.current) {
	display: none;
}

.inner-content.timetable table tr th:first-child,
.inner-content.timetable table tr tr:first-child {
	display: table-cell !important;
	width: 1%;
	text-align: left !important;
	padding: 0.5em 0 !important;
}

.inner-content.timetable table thead tr th {
	text-align: center;
	text-indent: -20%;
}

.day-selector {
	position: absolute;
	top: 1rem;
	font-size: 1.2em;
	padding: 0.3em 1em;
	color: transparent;
	background-color: #ca0a00 !important;
}

.day-selector.previous {
	left: 0.9rem;
	background: url('../../img/common/icons/back.png') 75% center no-repeat;
	background-size: auto 80%;
}

.day-selector.next {
	right: 0.9rem;
	background: url('../../img/common/icons/next.png') 25% center no-repeat;
	background-size: auto 80%;
}