html,
body,
#app {
	height: 100%;
	min-height: 100%;
	height: 100%;
	min-width: 100%;
}

html {
	overflow: hidden;
}

body {
	overflow-x: hidden;
	min-height: 100%;
}

.header,
#header {
	min-height: 3em;
}

#header #logo {
	float: left;
}

#header #logo,
#header #logo img {
	margin: 0 auto;
	padding-left: 0.5em;
}

#header #logo img {
	height: 2em;
	margin: 0.5em 0;
}

#menu {
	width: 20%;
	min-width: 20%;
	max-width: 20%;
	height: 100%;
	min-height: 100%;
	max-height: 100%;
	box-sizing: border-box;
}

#menu #tabs {
	font-size: 1.2em;
	margin-top: 3em;
}

#menu #tabs > li {
	padding: 0.75em 1em;
}

#menu #tabs > li.divider {
	height: 1px;
	max-height: 1px;
	min-height: 1px;
	margin: 0.5em 0;
	padding: 0;
}

#header .header-button {
	min-height: 1em;
	min-width: 1em;
}

#header #buttons-area {
	float: right;
	padding: 0.5em;
}

#header #buttons-area .header-button {
	display: block;
	padding: 0.5em 0.75em;
}

#content {
	clear: both;
	padding: 0.5em;
}

#iframe-login {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	width: 100%;
	height: 100%;
	box-shadow: 1em 1em 1em rgba(45, 45, 45, 0.15);
	border-radius: 0.3em;
	margin: auto;
}