/*
 * Primary color: #ca0a00 (red)
 *
 * Secondary color: #141414 (dark gray)
 *
 *
 */

* {
	-webkit-tap-highlight-color: rgba(0,0,0,0);
}

body {
	font-family: Arial, sans-serif;
	font-weight: 300;	
}

#app {
    -webkit-transition: margin-left 0.5s ease;
	transition: margin-left 0.5s ease;
    -ms-transition: margin-left 0.5s ease;
}

#content .page {
	opacity: 1;
	transition: left 0.5s ease;
    -webkit-transition: left 0.5s ease;
}

#content .page.hide {
	opacity: 0;
}

.primary-color-background {
	/*background: #ca0a00;*/
	background: #1483ce;
	color: white;
}

.primary-color-foreground {
	color: #ca0a00;
}

#header #page-title {
	font-weight: bold;
}

#menu {
	background: #efefef;
	color: #333333;
}

#menu #tabs > li.divider {
	background: #cccccc;
}

#menu #tabs > li.current {
	background: url('../../img/common/menu_arrow_inner.png') right center no-repeat !important;
	background-color: #D10003 !important;
}

#menu #tabs > li.current a:link,
#menu #tabs > li.current a:hover,
#menu #tabs > li.current a:visited {
	color: white;
}

#menu #tabs > li a {
	background-position: 0 0;
	background-repeat: no-repeat;
	background-size: auto 100%;
	padding-left: 2em;
}

#menu #tabs > li a:link,
#menu #tabs > li a:visited,
#menu #tabs > li a:hover {
	text-decoration: none;
	color: #333333;
}

#menu #tabs > li.notes a:link,
#menu #tabs > li.notes a:visited {
	background-image: url('../../img/common/icons/notes_red.png');
}

#menu #tabs > li.timetable a:link,
#menu #tabs > li.timetable a:visited {
	background-image: url('../../img/common/icons/timetable_red.png');
}

#menu #tabs > li.subjects a:link,
#menu #tabs > li.subjects a:visited {
	background-image: url('../../img/common/icons/subjects_red.png');
}

#menu #tabs > li.calendar a {
	background-image: url('../../img/common/icons/calendar_red.png');
}

#menu #tabs > li.rooms a {
	background-image: url('../../img/common/icons/rooms_red.png');
}

#menu #tabs > li.news a {
	background-image: url('../../img/common/icons/news_red.png');
}

#menu #tabs > li.settings a {
	background-image: url('../../img/common/icons/settings_red.png');
	/*background-position: 1em 0.5em;*/
}

#menu #tabs > li.logout a {
	background-image: url('../../img/common/icons/logout_red.png');
	background-position: 0.2em 0;
}

#menu #tabs > li.notes.current a {
	background-image: url('../../img/common/icons/notes.png');
}

#menu #tabs > li.timetable.current a {
	background-image: url('../../img/common/icons/timetable.png');
}

#menu #tabs > li.subjects.current a {
	background-image: url('../../img/common/icons/subjects.png');
}

#menu #tabs > li.calendar.current a {
	background-image: url('../../img/common/icons/calendar.png');
}

#menu #tabs > li.rooms.current a {
	background-image: url('../../img/common/icons/rooms.png');
}

#menu #tabs > li.news.current a {
	background-image: url('../../img/common/icons/news.png');
}

#menu #tabs > li.settings.active a {
	background-image: url('../../img/common/icons/settings.png');
	/*background-position: 1em 0.5em;*/
}

#menu #tabs > li.logout.current a {
	background-image: url('../../img/common/icons/logout.png');
	background-position: 0.2em 0;
}

#header .header-button.menu {
	background: url('../../img/common/icons/menu.png') center center no-repeat;
	background-size: auto 80%;
}

#header .header-button.back {
	background: url('../../img/common/icons/back.png') 0.3em center no-repeat;
	background-size: auto 100%;
	display: none;
}

#header .header-button.refresh {
	background: url('../../img/common/icons/refresh.png') 0.3em center no-repeat;
	background-size: auto 70%;
	display: none;
}

#header .header-button.clickable:hover,
#header .header-button.clickable.active {
	opacity: 0.6;
}

#content h2 {
	font-size: 1.15em;
	color: #ca0a00;
	font-weight: 600;
	line-height: 1.5em;
	text-transform: uppercase;
}

#menu #personal-info .name,
#menu #personal-info .surname {
	color: #333;
}

#menu #personal-info .profile-picture img {
	box-shadow: 0 0 1em rgba(45, 45, 45, 0.15);
	border-radius: 0.3em;
}

#menu #personal-info .profile-card .role {
	color: #E1F5FC;
	border-radius: 0.3em;
	text-transform: uppercase;
}

body.login {
	background: url('../../img/common/login_background.jpg') center center no-repeat;
	background-size: auto 120%;
	color: white;
	max-width: 100%;
	max-height: 100%;
	min-height: 100%;
	max-height: 100%;
	box-sizing: border-box;
}

body.login #connect-logo {
	background: #1483ce;
	opacity: 0.75;
}

button {
	background-color: #ca0a00;
	color: white;
	border: 0;
	border-radius: 0.3em;
}

body.login button {
	font-weight: bold;
	font-size: 1.2em;
	box-shadow: 0 0 0.5em rgba(45, 45, 45, 1);
}

body.login button:hover,
body.login button.active {
	background-color: #333333;
}

button:hover,
button:focus {
	opacity: 0.9;
}

.regular-list li {
	border-bottom: 1px solid #eee;
}

.regular-list li.clickable.active,
.regular-list li.clickable:hover {
	/*background-color: #eee !important;*/
	opacity: 0.8;
	cursor: pointer;
}

.clickable:hover {
	cursor: pointer;
}

.regular-list.scheduling li.current {
	background: #E1F5FC;
}

.regular-list li:last-child {
	border-bottom: 0;
}

.regular-list li.unread {
	background-color: #E1F5FC !important;
}

.regular-list li .title {
	font-weight: 300;
	color: #ca0a00;
	line-height: 1.15em;
	margin-bottom: 0.5em;
}

.regular-list.subjects li .title,
.regular-list.notes li .title {
	text-transform: lowercase;
}

.regular-list.subjects li .title::first-letter,
.regular-list.notes li .title::first-letter {
	text-transform: capitalize;
}

.regular-list li.unread .title {
	font-weight: 600;
}

.regular-list li .image,
.new .image {
	border: 1px solid #eee;
	background: url('../../img/common/icons/news.png') center center no-repeat;
	background-size: 40% auto;
	background-color: #1483ce;
}

.regular-list li .timeago,
.regular-list li .attachments,
.regular-list li .currently,
.regular-list li .fromto {
	font-size: 0.7em;
	color: #666;
}

.regular-list li .acronym {
	margin-bottom: 0.3em;
	font-size: 0.8em;
}

.regular-list li .attachments {
	margin-left: 1em;
	background: url('../../img/common/icons/clip.png') left center no-repeat;
	background-size: auto 2em;
	padding-left: 2em;
}

.regular-list.rooms li.occupied {
	background-color: #eee;
	opacity: 0.6;
}

.note .timeago,
.new .timeago,
.subject .acronym {
	font-size: 0.8em;
	color: #666;
}

.note #note-description p {
	line-height: 1.5em;
}

.note #note-description .examen .topInfo { 
	font-size: 1.1em;
	font-weight: bold;
	line-height: 1.5em;
}

.note #note-description .examen .extraInfo span:not(.label) {
	margin-top: 0;
	display: inline-block;
}

.note #note-description .examen .extraInfo .label {
	font-weight: bold;
	margin-top: 1.5em;
}

.note .attachments ul {
	list-style: none;
}

.note .attachments ul li a:link,
.note .attachments ul li a:visited {
	text-decoration: none;
	color: #01476d;
}

.note .attachments ul li a:hover,
.note .attachments ul li a.active {
	color: #ca0a00;
}

.inner-content .subtitle {
	text-transform: uppercase;
	color: #333333;
}

.new .content p {
	line-height: 1.5em;
	color: #333;
	font-size: 1em;
}

.regular-list li.clickable,
.attachments li.clickable {
	background: url('../../img/common/chevron.png') calc(100% - 1em) center no-repeat;
	background-size: auto 1em;
	padding-right: 3em;
}

.regular-list li.clickable.active,
.regular-list li.clickable:hover,
.attachments li.clickable.active,
.attachments li.clickable:hover {
	background: url('../../img/common/chevron_hover.png') calc(100% - 1em) center no-repeat;
	background-size: auto 1em;
}

.inner-content h2 {
	color: #333 !important;
	font-size: 2.5em !important;
	font-weight: 100;
	text-transform: none !important;
}

.inner-content.note h2,
.inner-content.new h2,
.inner-content.room h2,
.inner-content.subject h2 {
	color: #ca0a00 !important;
	font-size: 1.4em !important;
	font-weight: 200;
	line-height: 1.15em;
}

.inner-content.note h2,
.inner-content-subject h2 {
	text-transform: lowercase !important;
}

.inner-content.note h2::first-letter,
.inner-content.subject h2::first-letter {
	text-transform: capitalize !important;
}

.available-spaces {
	font-size: 1em;
	color: white;
	border-radius: 10em;
	font-weight: bold;
	text-align: center;
}

.available-spaces.free {
	background: #06A600;
}

.available-spaces.full {
	background: #ca0a00;
}

.available-spaces.warning {
	background: #F07800;
}


.inner-content.timetable table tr td {
	border: 1px solid #eee;
}

.inner-content.timetable table tr td .class {
	border: 1px solid #eee;
	background: #eee;
	color: white;
	border-radius: 0.3em;
	box-shadow: inset 0 -1em 1em rgba(100, 100, 100, 0.15);
}

.inner-content.timetable table tr th:first-child,
.inner-content.timetable table tr td:first-child {
	text-align: center;
	font-size: 1.4em;
	font-weight: 200;
	color: #333;
}

.timetable th {
	font-size: 1.4em;
	color: #333;
	vertical-align: middle;
	background: white;
}

.timetable tr:nth-child(odd) > td {
	background: #F7F7F7;
}

.timetable td .class .subject {
	font-size: 1.1em;
	margin-bottom: 0.3em;
}

.timetable td .class .rooms {
	font-size: 0.8em;
}

.inner-content.timetable table tr td .class.s0 {
	
	background: #F2CE00;
	border: 1px solid #D6C800;
}

.inner-content.timetable table tr td .class.s1 {
	
	background: #E80087;
	border: 1px solid #D1007A;
}

.inner-content.timetable table tr td .class.s2 {
	background: #FF8400;
	border: 1px solid #C46600;
}

.inner-content.timetable table tr td .class.s3 {
	
	background: #0096D1;
	border: 1px solid #027DAD;
}

.inner-content.timetable table tr td .class.s4 {
	background: #3DA600;
	border: 1px solid #2C7800;
	
}

.inner-content.timetable table tr td .class.s5 {
	background: #D10000;
	border: 1px solid #A60000;
}

.inner-content {
	position: relative;
}

.no-results {
	font-size: 1.1em;
	color: #666;
	font-weight: 200;
}

.no-results.centered {
	font-size: 1.4em;
	position: absolute;
	margin: auto;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	width: 10em;
	height: 2em;
	line-height: 1em;
	text-align: center;
}

.no-results:not(.centered) {
	margin-top: 0.5em;
}

#loading-layer {
  	background: #222;
  	opacity: 0.8;
}

/* Windows 8 ProgressRing style */
.progress-ring {
	display: none;
}

/* Generic ProgressRing */
#floatingCirclesG {
	position:fixed;
	margin: auto;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	width:128px;
	height:128px;
	-moz-transform:scale(0.6);
	-webkit-transform:scale(0.6);
	-ms-transform:scale(0.6);
	-o-transform:scale(0.6);
	transform:scale(0.6);
}

.f_circleG {
	position:absolute;
	background-color:#FFFFFF;
	height:23px;
	width:23px;
	-moz-border-radius:12px;
	-moz-animation-name:f_fadeG;
	-moz-animation-duration:0.8s;
	-moz-animation-iteration-count:infinite;
	-moz-animation-direction:linear;
	-webkit-border-radius:12px;
	-webkit-animation-name:f_fadeG;
	-webkit-animation-duration:0.8s;
	-webkit-animation-iteration-count:infinite;
	-webkit-animation-direction:linear;
	-ms-border-radius:12px;
	-ms-animation-name:f_fadeG;
	-ms-animation-duration:0.8s;
	-ms-animation-iteration-count:infinite;
	-ms-animation-direction:linear;
	-o-border-radius:12px;
	-o-animation-name:f_fadeG;
	-o-animation-duration:0.8s;
	-o-animation-iteration-count:infinite;
	-o-animation-direction:linear;
	border-radius:12px;
	animation-name:f_fadeG;
	animation-duration:0.8s;
	animation-iteration-count:infinite;
	animation-direction:linear;
}

#frotateG_01 {
	left:0;
	top:52px;
	-moz-animation-delay:0.3s;
	-webkit-animation-delay:0.3s;
	-ms-animation-delay:0.3s;
	-o-animation-delay:0.3s;
	animation-delay:0.3s;
}

#frotateG_02 {
	left:15px;
	top:15px;
	-moz-animation-delay:0.4s;
	-webkit-animation-delay:0.4s;
	-ms-animation-delay:0.4s;
	-o-animation-delay:0.4s;
	animation-delay:0.4s;
}

#frotateG_03 {
	left:52px;
	top:0;
	-moz-animation-delay:0.5s;
	-webkit-animation-delay:0.5s;
	-ms-animation-delay:0.5s;
	-o-animation-delay:0.5s;
	animation-delay:0.5s;
}

#frotateG_04 {
	right:15px;
	top:15px;
	-moz-animation-delay:0.6s;
	-webkit-animation-delay:0.6s;
	-ms-animation-delay:0.6s;
	-o-animation-delay:0.6s;
	animation-delay:0.6s;
}

#frotateG_05 {
	right:0;
	top:52px;
	-moz-animation-delay:0.7s;
	-webkit-animation-delay:0.7s;
	-ms-animation-delay:0.7s;
	-o-animation-delay:0.7s;
	animation-delay:0.7s;
}

#frotateG_06 {
	right:15px;
	bottom:15px;
	-moz-animation-delay:0.8s;
	-webkit-animation-delay:0.8s;
	-ms-animation-delay:0.8s;
	-o-animation-delay:0.8s;
	animation-delay:0.8s;
}

#frotateG_07 {
	left:52px;
	bottom:0;
	-moz-animation-delay:0.9s;
	-webkit-animation-delay:0.9s;
	-ms-animation-delay:0.9s;
	-o-animation-delay:0.9s;
	animation-delay:0.9s;
}

#frotateG_08 {
	left:15px;
	bottom:15px;
	-moz-animation-delay:1s;
	-webkit-animation-delay:1s;
	-ms-animation-delay:1s;
	-o-animation-delay:1s;
	animation-delay:1s;
}

@-moz-keyframes f_fadeG {
	0%{
		background-color:#FF0000;
	}

	100%{
		background-color:#FFFFFF;
	}
}

@-webkit-keyframes f_fadeG {
	0% {
		background-color:#FF0000;
	}

	100% {
		background-color:#FFFFFF;
	}
}

@-ms-keyframes f_fadeG {
	0% {
		background-color:#FF0000;
	}

	100% {
		background-color:#FFFFFF
	}
}

@-o-keyframes f_fadeG {
	0% {
		background-color:#FF0000
	}

	100% {
		background-color:#FFFFFF
	}
}

@keyframes f_fadeG {
	0% {
		background-color:#FF0000
	}

	100% {
		background-color:#FFFFFF
	}
}