/*
 * Primary color: #ca0a00 (red)
 *
 * Secondary color: #141414 (dark gray)
 *
 *
 */

 body {
 	font-family: Arial, sans-serif;
 	font-weight: 300;	
 }

 #app {
 	transition: margin-left 0.5s ease;
 }

.primary-color-background {
	/*background: #ca0a00;*/
	background: #1483ce;
	color: white;
}

.primary-color-foreground {
	color: #ca0a00;
}

#header #page-title {
	font-weight: bold;
}

#menu {
	background: #efefef;
	color: white;
}

#menu #tabs > li.divider {
	background: #ccc;
}

#menu #tabs > li.active {
	background: url('../../img/common/menu_arrow_inner.png') right center no-repeat;
	background-color: #D10003;
}

#menu #tabs > li.active a:link,
#menu #tabs > li.active a:hover,
#menu #tabs > li.active a:visited {
	color: white;
}

#menu #tabs > li a {
	background-position: 0 0;
	background-repeat: no-repeat;
	background-size: auto 100%;
	padding-left: 2em;
}

#menu #tabs > li a:link,
#menu #tabs > li a:visited,
#menu #tabs > li a:hover {
	text-decoration: none;
	color: #333;
}

#menu #tabs > li.notes a {
	background-image: url('../../img/common/icons/notes_red.png');
}

#menu #tabs > li.timetable a {
	background-image: url('../../img/common/icons/timetable_red.png');
}

#menu #tabs > li.subjects a {
	background-image: url('../../img/common/icons/subjects_red.png');
}

#menu #tabs > li.calendar a {
	background-image: url('../../img/common/icons/calendar_red.png');
}

#menu #tabs > li.rooms a {
	background-image: url('../../img/common/icons/rooms_red.png');
}

#menu #tabs > li.news a {
	background-image: url('../../img/common/icons/news_red.png');
}

#menu #tabs > li.settings a {
	background-image: url('../../img/common/icons/settings_red.png');
	/*background-position: 1em 0.5em;*/
}

#menu #tabs > li.logout a {
	background-image: url('../../img/common/icons/logout_red.png');
	background-position: 0.2em 0;
}

#menu #tabs > li.notes.active a {
	background-image: url('../../img/common/icons/notes.png');
}

#menu #tabs > li.timetable.active a {
	background-image: url('../../img/common/icons/timetable.png');
}

#menu #tabs > li.subjects.active a {
	background-image: url('../../img/common/icons/subjects.png');
}

#menu #tabs > li.calendar.active a {
	background-image: url('../../img/common/icons/calendar.png');
}

#menu #tabs > li.rooms.active a {
	background-image: url('../../img/common/icons/rooms.png');
}

#menu #tabs > li.news.active a {
	background-image: url('../../img/common/icons/news.png');
}

#menu #tabs > li.settings.active a {
	background-image: url('../../img/common/icons/settings.png');
	/*background-position: 1em 0.5em;*/
}

#menu #tabs > li.logout.active a {
	background-image: url('../../img/common/icons/logout.png');
	background-position: 0.2em 0;
}

#header .header-button.menu {
	background: url('../../img/common/icons/menu.png') center center no-repeat;
	background-size: auto 60%;
}

#content h2 {
	background: #ccc;
	color: #222;
	font-weight: 500;
}

#menu #personal-info {
	background: #efefef;
}

#menu #personal-info .name,
#menu #personal-info .surname {
	color: #333;
}

#menu #personal-info .profile-picture img {
	box-shadow: 0 0 1em rgba(45, 45, 45, 0.15);
	border-radius: 0.3em;
}

#menu #personal-info .profile-card .role {
	color: white;
	background: #009CEB;
	border-radius: 0.3em;
	text-transform: uppercase;
}

body.login {
	background-color: #ca0a00;
	color: white;
}

button {
	background-color: #ca0a00;
	color: white;
	border: 0;
	border-radius: 0.3em;
}

body.login button {
	background-color: white;
	color: #ca0a00;
}

button:hover,
button:focus {
	opacity: 0.9;
}

#latest-notes li {
	border-bottom: 1px solid #eee;
}

#latest-notes li:last-child {
	border-bottom: 0;
}

#latest-notes li .title {
	font-weight: 600;
	color: #ca0a00;
	line-height: 1.15em;
	margin-bottom: 0.5em;
}

#latest-notes li .timeago,
#latest-notes li .attachments {
	font-size: 0.7em;
	color: #666;
}

#latest-notes li .subject {
	margin-bottom: 0.3em;
	font-size: 0.8em;
}

#latest-notes li .attachments {
	margin-left: 1em;
	background: url('../../img/common/icons/clip.png') left center no-repeat;
	background-size: auto 2em;
	padding-left: 2em;
}