<% /* 
    (c)2014 Barcelona School of Informatics. All rights reserved.

    @author: Cristian Ortega;
    @publisher: inLabFIB;
*/ %>

<div id="login-page" class="page">
	<p id="connect-logo"><img class="logo" src="img/common/logo_raco.png" /></p>
	<div id="connect-button-box">
		<button type="button" id="connectButton" class="clickable"><%= t('Connect with your account') %></button>
		<p class="centered-text" style="margin-top: 0.5em"><%= t('to authorize this application') %></p>
	</div>
</div>