<div class="page news">
	<div class="inner-content">
		<h2><%= t('FIB news') %></h2>
		<% if (_.isEmpty(fibNews)) { %>
			<p class="no-results"><%= t('FIB news are not available at this moment.') %></p>
		<% } else { %>
			<ul class="regular-list news fib">
				<% _.each(fibNews, function(fibNew) { %>
					<li data-id="<%= fibNew.cid %>" class="clickable">
						<% if (fibNew.get('media:thumbnail')['@attributes'].url !== '') { %>
							<div class="image" style="background: url('<%= fibNew.get('media:thumbnail')['@attributes'].url %>') center center no-repeat; background-size: auto 100%;"></div>
						<% } else { %>
							<div class="image"></div>
						<% } %>
						<div class="content">
							<p class="title"><%= fibNew.get('title')['#text'] %></p>
							<p class="timeago"><%= moment(fibNew.get('pubDate')).fromNow() %></p>
						</div>
					</li>
				<% }); %>
			</ul>
		<% } %>
		
		<h2><%= t('UPC news') %></h2>
		<% if (_.isEmpty(upcNews)) { %>
			<p class="no-results"><%= t('UPC news are not available at this moment.') %></p>
		<% } else { %>
			<ul class="regular-list news upc">
				<% _.each(upcNews, function(upcNew) { %>
					<li data-id="<%= upcNew.cid %>" class="clickable">
						<div class="image"></div>
						<div class="content">
							<p class="title"><%= upcNew.get('title')['#text'] %></p>
							<p class="timeago"><%= moment(upcNew.get('dc:date')['#text']).fromNow() %></p>
						</div>
					</li>
				<% }); %>
			</ul>
		<% } %>
	</div>
</div>