<!--
   (c)2014 Barcelona School of Informatics. All rights reserved.
    
   @author: Cristian Ortega;
   @publisher: inLabFIB;
-->

<div class="page">
	<% if (_.isEmpty(subjects)) { %>
		<p class="no-results centered"><%= t('You do not have any subject.') %></p>
	<% } else { %>
		<ul id="subject-list" class="regular-list subjects">
		<% _.each(subjects, function(subject){ %>
			<li data-id="<%= subject.get('codi_upc') %>" class="clickable">
				<p class="title"><%= subject.get('nom') %></p>
				<p class="acronym"><%= subject.get('idAssig') %></p>
			</li>
		<% }); %>
		</ul>
        <br style="clear: both;" />
	<% } %>
</div>