<!--
   (c)2014 Barcelona School of Informatics. All rights reserved.
    
   @author: Cristian Ortega;
   @publisher: inLabFIB;
-->

<div class="page">
	<% if (_.isEmpty(timetable.get('classes'))) { %>
		<p class="no-results centered"><%= t('You do not have a timetable.') %></p>
	<% } else { %>
		<div class="inner-content timetable">
			<%
				var currentWeekDay = moment().isoWeekday();
				if (currentWeekDay > 5) { // If weekend set it to Monday
					currentWeekDay = 1;
				}
			%>
			<button type="button" id="previous-day" class="day-selector previous clickable">&laquo;</button>
			<button type="button" id="next-day" class="day-selector next clickable">&raquo;</button>
			<table>
				<thead>
					<tr>
						<th></th>
						<th<%= (currentWeekDay === 1) ? ' class="current"' : '' %>><%= t('Monday') %></th>
						<th<%= (currentWeekDay === 2) ? ' class="current"' : '' %>><%= t('Tuesday') %></th>
						<th<%= (currentWeekDay === 3) ? ' class="current"' : '' %>><%= t('Wednesday') %></th>
						<th<%= (currentWeekDay === 4) ? ' class="current"' : '' %>><%= t('Thursday') %></th>
						<th<%= (currentWeekDay === 5) ? ' class="current"' : '' %>><%= t('Friday') %></th>
					</tr>
				</thead>
				<tbody>
					<%  var classes = timetable.get('classes');
						for (var hour = 8; hour < 20; ++hour) { /* from 8AM to 20PM */ %>
						<tr>
							<th><%= (hour < 10) ? '0' + hour : hour %>:00</th>
							<% for (var day = 1; day < 6; ++day) { /* from Monday to Friday */ %>
								<td<%= (currentWeekDay === day) ? ' class="current"' : '' %>>
									<% if (_.isEmpty(classes[day][hour])) { %>
										<div class="empty"></div>
									<% } else { %>
										<% _.each(classes[day][hour], function(classEvent, startTime){ %>
											<div class="class s<%= _.indexOf(subjects, classEvent.subject) %>">
												<p class="subject"><%= classEvent.subject %> <%= classEvent.type %></p>
												<p class="rooms"><%= classEvent.rooms.join(', ') %></p>
											</div>
										<% }) %>
									<% } %>
								</td>
							<% } %>
						</tr>
					<% } %>
				</tbody>
			</table>	
		<div>
	<% } %>
</div>