body.windows {
	font-family: "Segoe WP", "Segoe UI", sans-serif;
}

button {
	background: none;
	border: 2px solid #ca0a00;
	color: #ca0a00;
	font-family: "Segoe WP Semibold", "Segoe UI Semibold", sans-serif;
	border-radius: 0;
}

body.login button {
	background: none;
	border: 2px solid white;
	color: white;
	font-size: 1em;
}