body {
	font-family: "Segoe UI", sans-serif;
    font-size: 1.1em;
}

.win-backbutton {
    position: fixed;
    left: 1.5em;
    top: 2.3em;
    z-index: 99;
    color: #333;
    border-color: #333;
}

#content h2 {
    font-weight: 200;
}

#content .page {
    -ms-transition-property: opacity left;
    -ms-transition-duration: 0.5s 0.5s;
    -ms-transition-timing-function: ease ease;
}

#menu .header {
    display: none;
}

#menu {
    padding-top: 6em;
    overflow: auto;
}

#page-title {
    padding-left: 22% !important;
    font-size: 4em !important;
    margin-top: -0.75em !important;
    text-transform: lowercase;
}

body:not(.login) #content {
    margin-top: 7em !important;
}

.win-appbar {
    background: #222;
}

.win-appbar .win-commandimage,
.win-appbar button,
.win-appbar button:hover:active,
.win-appbar button:-ms-keyboard-active,
.win-appbar button:active {
    color: white;
}

.win-appbar .win-commandring,
.win-appbar button:active .win-commandring {
    background-color: transparent;
    border-color: white;
}

.win-appbar button:hover:active .win-commandring,
.win-appbar button:-ms-keyboard-active .win-commandring {
    background-color: white;
    border-color: white;
}

.win-appbar button:hover:active .win-commandimage,
.win-appbar button:-ms-keyboard-active .win-commandimage {
    color: #222;
}

.win-appbar button:hover .win-commandring {
    background-color: white;
    border-color: white;
}

.win-appbar button:hover .win-commandimage {
    color: #222;
}

.win-appbar button:focus {
    border-color: white;
}

.win-appbar button.win-hidefocus:focus {
    border-color: transparent;
}

.win-appbar button:disabled .win-label,
.win-appbar button:disabled:active .win-label,
.win-appbar button:disabled .win-commandimage,
.win-appbar button:disabled:active .win-commandimage {
   color: #666;
}

.win-appbar button:disabled .win-commandring,
.win-appbar button:disabled:active .win-commandring {
    background-color: transparent;
    border-color: #666;
}

#menu .role {
    display: none;
}

.page {
    overflow-y: scroll !important;
    overflow-x: hidden !important;
}

.available-spaces {
    padding: 0.5em;
    border-radius: 0;
}

.attachments li.clickable:hover {
    cursor: pointer;
}

/* Tablet portrait */
@media (max-width: 767px) {
    .win-backbutton {
        left: 1.3em;
    }

    #page-title {
        padding-left: 6.5rem !important;
    }

    .inner-content.timetable table td:not(.current),
    .inner-content.timetable table th:not(.current) {
        display: none;
    }

    .inner-content.timetable table tr th:first-child,
    .inner-content.timetable table tr tr:first-child {
        display: table-cell !important;
        width: 3%;
        text-align: left !important;
        padding: 0.5em 0 !important;
    }

    .inner-content.timetable table thead tr th {
        text-align: center;
        text-indent: -20%;
        font-weight: 200;
    }

    .day-selector {
        display: block;
        position: absolute;
        top: 1rem;
        font-size: 1.2em;
        padding: 0.3em 1em;
        color: transparent;
        background-color: #ca0a00 !important;
    }

    .day-selector.previous {
        left: 0.9rem;
        background-image: url('../../../img/common/icons/back.png') !important;
        background-position: 60% center;
        background-repeat: no-repeat;
        background-size: auto 80%;
    }

    .day-selector.next {
        right: 1rem;
        background-image: url('../../../img/common/icons/next.png') !important;
        background-position: 40% center;
        background-repeat: no-repeat;
        background-size: auto 80%;
    }
}

/* Tablet landscape */
@media (min-width: 768px) and (max-width: 1199px) {
    .win-backbutton {
        left: 7.5%;
    }

    .inner-content.timetable table td:not(.current),
    .inner-content.timetable table th:not(.current) {
        display: none;
    }

    .inner-content.timetable table tr th:first-child,
    .inner-content.timetable table tr tr:first-child {
        display: table-cell !important;
        width: 2%;
        text-align: left !important;
        padding: 0.5em 0 !important;
    }

    .inner-content.timetable table thead tr th {
        text-align: center;
        text-indent: -20%;
        font-weight: 200;
    }

    .day-selector {
        display: block;
        position: absolute;
        top: 1rem;
        font-size: 1.2em;
        padding: 0.3em 1em;
        color: transparent;
        background-color: #ca0a00 !important;
    }

    .day-selector.previous {
        left: 0.9rem;
        background-image: url('../../../img/common/icons/back.png') !important;
        background-position: 60% center;
        background-repeat: no-repeat;
        background-size: auto 80%;
    }

    .day-selector.next {
        right: 1rem;
        background-image: url('../../../img/common/icons/next.png') !important;
        background-position: 40% center;
        background-repeat: no-repeat;
        background-size: auto 80%;
    }

    .available-spaces {
        margin-right: -2em;
    }
}

/* Tablet and desktop ModernUI lists adaption */
@media (min-width: 768px) {
    .regular-list li {
        display: inline-block;
        width: 48%;
        background: #eee !important;
        overflow: hidden;
        height: 7.5em;
        box-sizing: border-box;
        margin-right: 1em;
        margin-bottom: 1em;
    }

    .regular-list li .title {
        max-height: 2.25em;
        overflow: hidden;
    }

    .regular-list {
        padding: 0 1em;
    }

    .regular-list li:nth-child(even) {
        margin-right: 0;
    }

    .attachments li.clickable {
        background: none !important;
    }
}

/* Desktop only */
@media (min-width: 1200px) {
    #page-title {
        padding-left: 21% !important;
    }

    .regular-list li {
        width: 48.4%;
    }

    .inner-content.timetable table tr th:first-child,
    .inner-content.timetable table tr tr:first-child {
        width: 4%;
        text-align: left !important;
        padding: 0.5em 0 !important;
    }

    .inner-content.timetable table thead tr th {
        font-weight: 200;
    }

    .available-spaces {
        margin-right: -2em;
    }
}